body {
  background-image: url(./assets/ushi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
}

.cuerpo {
  display: flex;
  flex-direction: row;
}

.Formulario {
  display: flex;
  flex-direction: column;
  margin: 30px;
  min-height: calc(100vh - 120px);
	padding: 10px 120px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  border: 1px solid #d6d6e7;
  backdrop-filter: blur(1px);
}

.Formulario
input {
  text-align: left;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.3); 
  cursor: text;
  border: 1px solid #d6d6e7;
}

